body{
    text-align: center;
    font-size: 2em;
    font-family: 'Arial', cursive;
}
ul{
    display: block;
    list-style-type: disc;
    
/*
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
*/
}
lol{
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    color: dimgrey;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

p{
text-align: center;
    font-size: 24;
    font-family: 'Arial';
    color: floralwhite;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

halp{
    margin-top: -50px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}